$dark-green: #598D66;
$white: #FFFFFF;
$light-green :#E1EDE6;
$text-color-dark: #2C2D35;
$text-color-green: #86928B;
$background-color: #F4F6F5;
$buttons-color-active: #376B44;
$buttons-color: #D4E8D9;
$buttons-color-yellow: #EEDB6D;
$burger-color: #4C5866;