@use "/src/sass/base/variables.scss" as *;

@use "/src/sass/base/mixins.scss" as *;

.button-defolt {
    @include button;


    &:focus {
        color: $dark-green;
        background-color: $buttons-color;
    }

    &:active {
        color: $white;
        background-color: $buttons-color-active;
    }


}